## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [30]:
a = int(3)
print(a)

3

2) Imprimir el tipo de dato de la variable 8.5

In [31]:
b = 8.5
type(b)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [32]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [33]:
nombre = input("Ingrese su nombre")
print(nombre)

5) Crear una constante que contenga el número Pi

In [34]:
PI = 3.14
print(PI)

3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [35]:
type(PI)

float

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [36]:
E = 2.7182

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [37]:
var1 = 'True'
var2 = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [29]:
print(type(var1))

type(var2)

<class 'str'>

bool

10) Asignar a una variable, la suma de un número entero y otro decimal

In [39]:
m = 3 + 5.9
print(m)
type(m)

8.9

float

11) Realizar una operación de suma de un número definido como string con un entero

In [2]:
l = 10
o = '10'
#print(l + o), no se puede hacer esto porque no son del mismo tipo de dato

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [6]:
E = 2.71
u = E**3
print(u)

19.902511

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [7]:
numero = int(input ("ingrese un nro"))
print(numero*2)

4

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [9]:
cociente = 27 / 4
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [12]:
cociente = 27 // 4
print(cociente)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [10]:
resto = 27 % 4
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [16]:

print(4*cociente+resto)

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
#NO, porque "2" es una cadena y 2 es un entero

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [ ]:
#me da bien, no me da error

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [19]:
a = float ('3.8')
type(a)

float

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [20]:
print('2'+ '2')
print(2+2)
#no tira el mismo resultado porque, en el primer lugar los trata como cadenas y los concatena y en el segundo los trata como enteros y los suma

22
4

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [22]:
menu = """
1 - Pizza
2 - Empanadas 
3 - Milanesas 
4 - Salir
"""
print(menu)

1 - Pizza
2 - Empanadas
3 - Milanesas
4 - Salir

23) Crear una lista que contenga los números del 1 al 10

In [26]:
listaNumeros = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [27]:

print(listaNumeros[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [28]:
listaNumeros.insert(2,"Clara")
print(listaNumeros)

[1, 2, 'Clara', 3, 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [46]:
matriz = [["A", "B", "C"], ["D", "E", "F"], ["G", "H", "I"]]

27) Imprimir la matriz creada en el punto 26

In [47]:
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [48]:
matriz[1][1] = "Z"
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [49]:
for i in range (3):
    
    if i==0:
        matriz [0][i] = 1
    elif i ==1:
        matriz [0][i] = 2
    else: 
        matriz [0][i] = 3
    
print(matriz)

0
1
2
[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [57]:
marcasDeRopa = ("nike", "adidas", "ripcurl", "puma", "we")
#tupla = tuple(["nike", "adidas", "ripcurl", "puma", "we"])

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [58]:
print(marcasDeRopa[0])

nike

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
#porque las tuplas son inmodificables

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [61]:
persona1 = {"nombre":"Clara", "apellido": "Mazuran", "edad": 20, "hobbies": ["Andar en bici", "Jugar al voley", "Estudiar"]}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [68]:
hobbies = persona1["hobbies"]

print(f"A {persona1["nombre"]} le gusta: ")
for i in range(3):
    print(hobbies[i])

A Clara le gusta:
Andar en bici
Jugar al voley
Estudiar

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [69]:
persona1["edad"] = 30
print(persona1)

{'nombre': 'Clara', 'apellido': 'Mazuran', 'edad': 30, 'hobbies': ['Andar en bici', 'Jugar al voley', 'Estudiar']}